@import "../../App.scss";

.home {
	&__card {
		grid-row: 2 / -1;
		margin-right: 6rem;

		background-color: $color-gold;
		border-radius: 2rem;
		height: 75%;
		box-shadow: 0 0.1rem 1rem rgba($color-black, 0.2);
    
    @media only screen and (max-width: 1200px){
      margin-right: 2rem;
    }

    @media only screen and (max-width: 1050px){
      display: none;
    }

    img {
			width: 100%;
			height: 85%;
		}
	}
}
