@import "./sass//variables.scss";
@import "./sass/animation.scss";
@import './sass/userAccount.scss';
@import './sass/mixin.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
